#products {
    width: 80%;
    margin: 0 10% 0 10%;
}

@media all and (max-width: 992px) {
    .product {
        width: 40%;
    }
}

@media all and (max-width: 480px) {
    .product {
        width: 100%;
    }
}